@model PartyInvites2.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {background-color: #F1F1F1;}
     </style>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 465;
            WebMail.EnableSsl = true;
            WebMail.UserName = "thekidbruno@gmail.com";
            WebMail.Password = "";
            WebMail.From = "thekidbruno@gmail.com";

            WebMail.Send("")
        }
    }
    <div class="text-center"> 
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming. The drinks are alredy in the fridge!
        }
            else
            { @: Sorry to thear that you can't make it, but thanks for letting us know anyway or not!.
        }
        </div>
    </div>
</body>
</html>
